[submodule "Quark/vendor/spdlog"]
	path = Quark/vendor/spdlog
	url = https://github.com/ThomasWorkOnline/spdlog.git
[submodule "Quark/vendor/glm"]
	path = Quark/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Quark/vendor/entt"]
	path = Quark/vendor/entt
	url = https://github.com/skypjack/entt.git
