# Auto Generated
cache
instrumentor
logs

# Build
include
lib
bin
bin-int

# ImGui
imgui.ini

# MacOS files
.DS_Store

# Makefiles
[Mm]akefile

# Python
__pycache__

# Utilities
Build

# Visual Studio
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
.vs

# Visual Studio Code
.vscode

# VulkanSDK
VulkanSDK

############################
# Except
#

# Binaries
!Vendor/Bin
!Tools/Bin
