# Build
include
lib
bin
bin-int

imgui.ini

!Tools/Bin

# Instrumentation
cache
instrumentor
logs

# MacOS files
.DS_Store

# Makefile
Makefile
makefile

# Premake
!Vendor/Bin

# Python
__pycache__

# Utilities
Build

# Visual Studio
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
.vs

# Visual Studio Code
.vscode

#VulkanSDK
VulkanSDK
